.container {
  display: flex;
  justify-content: space-between;
  width: 1440px;
  height: fit-content;
  padding: 60px 32px;
  margin: 0 auto;

  .results {
    display: flex;
    height: fit-content;
    gap: 32px;
    padding-right: 32px;
    flex-direction: column;

    div {
      img:hover {
        cursor: pointer;
      }
    }

    p {
      color: var(--neutral-gray-600, #475569);
      font-family: "Monteserrat", sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }

    .gridContainer {
      display: flex;
      flex-direction: column;
      padding-top: 64px;
      height: fit-content;
      gap: 32px;

      h2 {
        color: #000;
        font-family: Plus Jakarta Sans;
        font-size: 33px;
        font-weight: 700;
        line-height: 39.6px;
        letter-spacing: -0.66px;
      }
    }
  }

  .purchase {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    padding-left: 20px;

    .box {
      display: flex;
      gap: 16px;
      flex-direction: column;
      padding: 32px;
      background-color: #fff;
      border: 1px solid var(--neutral-gray-200, #e2e8f0);

      .info {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;

        img {
          object-fit: cover;
          width: 57px;
          height: 57px;
          border: 1px solid var(--neutral-gray-200, #e2e8f0);
          border-radius: 4px;
        }
      }

      p {
        color: var(--neutral-gray-500, #64748b);
        font-family: "Monteserrat", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
      }

      .cards {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 8px;

        img {
          object-fit: scale-down;
          width: 40px;
          height: 30px;
        }
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Grey semi-transparent background */
  z-index: 9999; /* Ensure it's on top */
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: rgba(255, 255, 255, 0.212);
  border-radius: 8px;
  padding: 20px;
  position: relative;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 50px;
  cursor: pointer;
  color: white;
  transition: color 0.3s ease;
}

.closeButton:hover {
  color: #f00;
}

.mainResultImage {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}

@media screen and (max-width: 1000px) {
  .container {
    display: flex;
    justify-content: center;
    width: 90vw;
    height: fit-content;
    margin: 0 0 0 0;
    flex-direction: column;
    object-fit: cover;
    align-items: center;
    gap: 20px;
    justify-self: center;

    .results {
      display: flex;
      height: fit-content;
      gap: 32px;
      flex-direction: column;

      p {
        color: var(--neutral-gray-600, #475569);
        font-family: "Monteserrat", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        width: 90vw;
      }

      .gridContainer {
        display: none;
        flex-direction: column;
        padding-top: 64px;
        height: fit-content;
        gap: 32px;

        h2 {
          color: #000;
          font-family: Plus Jakarta Sans;
          font-size: 33px;
          font-weight: 700;
          line-height: 39.6px;
          letter-spacing: -0.66px;
        }
      }
    }

    .purchase {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 32px;
      width: 100vw;
      align-self: center;
      margin: 0 0 0 0;
      padding: 0;

      .map {
        width: 444px;
        height: 228px;
        background-image: url("../../../../assets/mapa.png");
      }

      .box {
        display: flex;
        gap: 16px;
        flex-direction: column;
        padding: 32px;
        background-color: #fff;
        border: 1px solid var(--neutral-gray-200, #e2e8f0);
        width: 70vw;
        align-self: center;

        .info {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 16px;

          img {
            object-fit: cover;
            width: 57px;
            height: 57px;
            border: 1px solid var(--neutral-gray-200, #e2e8f0);
            border-radius: 4px;
          }
        }

        p {
          color: var(--neutral-gray-500, #64748b);
          font-family: "Monteserrat", sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
        }

        .cards {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 8px;

          img {
            object-fit: scale-down;
            width: 40px;
            height: 30px;
          }
        }
      }
    }
  }

  .mainResultImage {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
  }
}
