.container {
  width: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 0;

  .div {
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    margin: 0 auto;
    gap: 24px;

    .actions {
      display: flex;
      justify-content: space-between;
      gap: 24px;
      align-items: center;

      .actionsSpan {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 4px;
        gap: 16px;

        span {
          text-decoration: none;

          a {
            text-decoration: none;
            color: #64748b;
            font-family: "Monteserrat", sans-serif;
            font-size: 14px;
            font-weight: 400;
            white-space: nowrap;
          }
        }
      }

      .avatar {
        display: flex;
        align-items: center;

        .avatarImg {
          height: 40px;
          width: 40px;
          padding: 4px;
          border-radius: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

.search {
  width: 100%;
  min-width: 30vw;
}

@media screen and (max-width: 1000px) {
  .container {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    width: 100%;

    .div {
      padding: 16px 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 1440px;
      margin: 0 auto;
      gap: 24px;
      flex-direction: row-reverse;

      .actions {
        display: none;
      }

      .search {
        display: none;
      }
    }
  }
}
